/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
@tailwind base;
@tailwind components;
@tailwind utilities;

/*设置安卓安全区域top高度 预留出状态栏区域*/
:root {
  --ion-safe-area-top: env(safe-area-inset-top, 200px);
  
  .md {
    --ion-safe-area-top: env(safe-area-inset-top, 320px);
  }
  
  .ios {
    --ion-safe-area-top: env(safe-area-inset-top, 47px);
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

.ant-select-item-option {
  height: 3rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ant-input-number-input {
  height: 3rem !important;
}
.ant-select-selector {
  height: 100% !important;
}
.ant-select-selection-item {
  line-height: 3rem !important;
}

.ant-select-selector, .ant-select-selection-search-input, .ant-input {
  height: 3rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
}